@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif, sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5vh;
  background-color: #000000;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  width: 30%;
  height: 50px;
  margin: 0 25px;
}

.navbar a:hover {
  border-color: #e6f9ff;
}

.navbar a.current {
  border-color: #126A8F;
}

.logo > img {
  height: 120px;
  width: 300px;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.text-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

.text-fields input {
  width: 250px;
  height: 30px;
}

.name-input, .lastname-input, .elige, .buttons, .section-title {
  margin-bottom: 20px;
  margin-top: 10px;
}

.elige {
  height: 40px;
  width: 90px;
  font-size: 1rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons .send {
  font-size: 1rem;
  font-weight: 700;
  color: #3498db;
  border: 4px solid;
  border-radius: 15 px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}

.buttons .send:hover {
  background-color: #001c2e;
  -webkit-transition: 4s;
  transition: 4s;
}

.buttons .reset {
  font-size: 1rem;
  font-weight: 700;
  width: 200px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  color: #940707;
  border: 4px solid;
  border-radius: 15 px;
}

.buttons .reset:hover {
  background-color: #180000;
  -webkit-transition: 4s;
  transition: 4s;
}

.footer-bg {
  min-height: 15vh;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 505px;
}

.footer-bg p {
  margin-top: 50px;
}

.social a {
  color: #ffffff;
}

.social a > * {
  margin-right: 30px;
}
/*# sourceMappingURL=contacto.css.map */