html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


nav {
    display: flex;    
    justify-content: space-around;
    min-height: 15vh;
    background-color: black;
    width: 100%; 
    align-items: center; 
}

.logo >img{    
    height: 120px;
    width: 300px;
}

.nav-links {   
    display: flex;   
    justify-content: space-around;
    width: 30%;   
    height: 50px;
    flex-direction: row;  

    a{
        color:white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px; 
    align-content: center; 
    }
}


.formulario{
    height: 860px;
    margin:50px;
}
.tamaño{
font-size: 30px;
margin: 20px;
}

select{
    font-size: 20px;
}

button{
    font-size: 30px;
    border-radius: 40px;
    margin: 20px;   
    padding: 20px;
    cursor: pointer;
    :hover{
        background-color: yellowgreen;
    }
}

input{
    width: 250px;
    height: 30px;
}

footer{
    margin-top: 20px;
    border: 10px red;
    min-height: 15vh;
    background-color: black;
    width: 100%;
}