html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


nav {
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    background-color: black;
    width: 100%;
    align-items: center;
}

.logo>img {
    height: 120px;
    width: 300px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 50px;
    flex-direction: row;
}

.nav-links a {
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
    align-content: center;
}


h1 {
    text-align: center;
    margin: 50px;
}

.cuerpo img {
    height: 300px;
    width: 600px;
    display: relative;
    animation-name: miAnimacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}



footer {
    margin-top: 20px;
    border: 10px red;
    min-height: 15vh;
    background-color: black;
    width: 100%;
}